[pylint]
ignore=
    src/charloratools/__init__.py
    src/charliratools/facenet_pytorch/*
disable=
    too-many-lines,
    import-error,
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    invalid-name,
    cyclic-import,
    too-many-instance-attributes,
    len-as-condition,
    too-few-public-methods,
    anomalous-backslash-in-string,
    no-else-return,
    simplifiable-if-statement,
    too-many-arguments,
    duplicate-code,
    trailing-whitespace,
    raise-missing-from,
    inconsistent-return-statements,
    logging-fstring-interpolation,
    no-else-raise,
    use-maxsplit-arg,
    unnecessary-comprehension,
    self-assigning-variable,
    redefined-builtin,
    unspecified-encoding,
    consider-using-generator,
    consider-using-in,
    too-many-branches,
    broad-exception-raised,
    unused-variable,
    wrong-import-order,
    too-many-positional-arguments,
    import-outside-toplevel,
    not-callable,
    consider-iterating-dictionary,
    unbalanced-tuple-unpacking,
    no-member,
    missing-final-newline,
    too-many-locals,
    too-many-statements,
    consider-using-f-string,
    multiple-imports,
    ungrouped-imports,
    missing-timeout,
    unreachable,
    super-init-not-called,
    too-many-return-statements,
    attribute-defined-outside-init,
    broad-exception-caught,
    
    
