[pylint]
ignore=
    __init__.py
    facenet_pytorch
disable=
    import-error,
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    invalid-name,
    cyclic-import,
    too-many-instance-attributes,
    len-as-condition,
    too-few-public-methods,
    anomalous-backslash-in-string,
    no-else-return,
    simplifiable-if-statement,
    too-many-arguments,
    duplicate-code,
    trailing-whitespace,
    raise-missing-from,
    inconsistent-return-statements,
    logging-fstring-interpolation,
    no-else-raise,
    use-maxsplit-arg,
    unnecessary-comprehension,
    self-assigning-variable,
    redefined-builtin,
    unspecified-encoding,
    consider-using-generator,
    consider-using-in,
    too-many-branches,
    broad-exception-raised,
    unused-variable,
    wrong-import-order,
    too-many-positional-arguments,
    import-outside-toplevel,
    not-callable,
    consider-iterating-dictionary,
    unbalanced-tuple-unpacking
